body {
    background-color: lightgray;
    font-family: sans-serif;
}

.main-heading {
    color: blue;
    font-size: 48px;
}

.text {
    font-size: 24px;
    /* background-color: yellow; */
}

.text-danger {
    color: red;
    background-color: yellow;
}

.btn {
    background-color: black;
    color: white;
}

.btn-warning {
    background-color: yellow;
    color: black;
}

.btn-danger {
    background-color: red;
    color: white;
}
